@import '../../global.scss';

.portfolioList {
  font-size: 12px;
  margin-right: 5px;
  padding: 8px 10px;
  border-radius: 10px;
  cursor: pointer;

  @include mobile {
    margin-right: 18px;
  }
  &.active {
    background-color: $main-color;
    color: #fff;
  }
}
