@import '../../global.scss';

.works {
  background-color: crimson;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .arrow {
    position: absolute;
    @include mobile {
      display: none;
    }
    &.left {
      left: 100px;
      // width: 200px;
      height: 20px;
    }
    &.right {
      right: 100px;
      width: 30px;
      height: 20px;
    }
  }
  .slider {
    height: 350px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-in-out;
    @include mobile {
      height: 90vh;
      flex-direction: column;
      justify-content: center;
    }

    .container {
      width: 100vw;
      align-items: center;
      justify-content: center;
      display: flex;
      .item {
        width: 700px;
        height: 100%;
        border-radius: 20px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        @include mobile {
          width: 80%;
          height: 230px;
          margin: 5px 0;
        }

        .left {
          flex: 4;
          height: 90%;
          display: flex;
          align-items: center;
          justify-content: center;
          @include mobile {
            width: 80%;
            height: 220px;
            margin: 0 10px;
            padding: 5px;
          }

          .leftContainer {
            width: 90%;
            width: 70%;
            display: flex;
            flex-direction: column;
            @include mobile {
              width: 100%;
              // height: 100%;
            }
            .imgContainer {
              justify-content: space-between;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: rgb(243, 176, 152);
              display: flex;
              align-items: center;
              justify-content: center;
              @include mobile {
                width: 25px;
                height: 25px;
              }
              img {
                width: 25px;
                @include mobile {
                  width: 25px;
                }
              }
            }
            h2 {
              font-size: 20px;
              @include mobile {
                font-style: 5px;
              }
            }
            p {
              font-size: 13px;
              margin-top: 15px;
              margin-bottom: 15px;
            }
            span {
              font-size: 18px;
              font-weight: 600;
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
        .right {
          flex: 8;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 500px;
            overflow: hidden;
            @include mobile {
              transform: rotate(-10deg);
              height:100%; 
            }
          }
        }
      }
    }
  }
}
