.sections{
    width: 100%;
    height: calc(100vh - 70px);
    background-color: red;
    position: relative;
    top: 70px;
    scroll-snap-type: y mandatory;
    /* webkitscrollbar{
        display: none;
    } */
    
}
.App{
    height: 100vh;

      
}
